.logo {
	width: 30%;
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	display: inline-block;

	font-size: 18px;
	font-weight: bold;
	letter-spacing: 5px;
	text-align: left;

	z-index: 3;

	@media only screen and (max-width: 700px) {
		& {
			width: 100%;
			margin-top: 20px;
			margin-bottom: 20px;

			text-align: center;
		}
	}
	
	&__link {
		color: $text-color;
		
		transition: 0.5s;

		&:hover {
			font-size: 26px;

			.logo__blue {
				color: #05A5C2;
			}
		}
	}

	&__blue {
		color: $blue;

		transition: 0.5s;
	}
}