.logo {
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;

	font-size: 18px;
	font-weight: bold;
	letter-spacing: 5px;

	z-index: 3;
	
	&__link {
		color: $text-color;
		
		transition: 0.5s;

		&:hover {
			font-size: 26px;

			.logo__blue {
				color: #05A5C2;
			}
		}
	}

	&__blue {
		color: $blue;

		transition: 0.5s;
	}
}