.skills {
	margin-top: -15px;

	background-color: $blue;

	text-align: center;

	@media only screen and (max-width: 750px) {
		& {
			margin-top: 190px;
		}
	}

	@media only screen and (max-width: 700px) {
		& {
			margin-top: 165px;
		}
	}

	@media only screen and (max-width: 550px) {
		& {
			margin-top: 195px;
		}
	}

	@media only screen and (max-width: 540px) {
		& {
			margin-top: 185px;
		}
	}

	@media only screen and (max-width: 365px) {
		& {
			margin-top: 145px;
		}
	}

	&__header {
		margin-top: 0;
		padding-top: 40px;
		padding-bottom: 30px;
		
		font-size: 40px;
		font-weight: 400;
		letter-spacing: 3px;
		text-align: left;

		&:hover {
			&:after {
				width: 185px;
			}
		}

		&::after {
			content: " ";

			width: 60px;
			height: 3px;
			display: block;

			background-color: $text-color;

			transition: 0.8s;
		}
	}

	&__wrap {
		display: flex;

		justify-content: space-between;

		@media only screen and (max-width: 750px) {
			& {
				display: block;
			}
		}
	}

	&__item {
		width: 25%;

		@media only screen and (max-width: 750px) {
			& {
				width: 90%;

				&:last-child {
					padding-bottom: 30px;
				}
			}
		}
	}

	&__head {
		margin-bottom: 60px;
		position: relative;

		font-size: 22px;
		font-weight: 400;

		&::after {
			content: " ";

			width: 15px;
			height: 15px;
			position: absolute;
			top: 45px;
			left: calc(50% - 8px);

			background-color: #fff;

			transform: rotate(-45deg);

			transition: 0.9s;
		}

		&:hover {
			font-size: 25px;

			transition: 0.3s;
			
			&:after {
				width: 20px;
				height: 20px;

				transform: rotate(315deg);
			}
		}
	}

	&__description {
		margin-bottom: 60px;
	}
}